@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: 500;
    src: url("./../../../assets/typo_fonts/Shabnam-FD.eot");
    src: url("./../../../assets/typo_fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"),
        url("./../../../assets/typo_fonts/Shabnam-FD.woff2") format("woff2"),
        url("./../../../assets/typo_fonts/Shabnam-FD.woff") format("woff"),
        url("./../../../assets/typo_fonts/Shabnam-FD.ttf") format("truetype");
}

body {
    font-family: 'shabnam';
}

#sidebar .sidebar-nav .sidebar-item {
    text-align: right;
}

.pagination {
    overflow: auto;
}

input[type='checkbox'],
input[type='radio'] {
    vertical-align: middle;
}

.select2-container {
    max-width: 100%;
}

.alert-outline-coloured .alert-message {
    border-right: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

i {
    vertical-align: middle;
}

select[multiple] {
    max-height: 32px;
    opacity: 0.1;
}

select[name="company_id"],
select[name="customer_id"] {
    opacity: 0.1;
}

.list-group-horizontal-md>.list-group-item:last-child {
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: var(--bs-list-group-border-width);

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.list-group-horizontal-md>.list-group-item:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left-width: 0;
    border-top-width: var(--bs-list-group-border-width);
}

.form-select {
    background-position: left 0.85rem center;
    padding: 0.3rem 0.85rem 0.3rem 0.85rem;
}

.btn-group button.no-rounded {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
}


.list-group-normalize li {
    border-radius: 0 !important;
    border: 1px solid var(--bs-list-group-border-color) !important;
}

.list-group-thin li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.card-body {
    overflow-x: auto;
}

[data-bs-toggle="collapse"][aria-expanded] i.fa-angle-down {
    transition: transform 500ms;
}

[data-bs-toggle="collapse"][aria-expanded="true"] i.fa-angle-down {
    transform: rotate(180deg);
    transition: transform 500ms;
}

@media only screen and (min-width:2500px) {
    .dashbaord-installments__group {
        columns: 2;
    }
}

.no-form-control {
    border-right: unset;
    border-left: unset;
    border-top: unset;
    background: transparent;
    border-radius: unset;
}

.no-form-control:focus {
    background-color: transparent;
    outline: unset;
    box-shadow: unset;
    border-color: unset;
}

.dashboard-cards {
    max-height: calc(100vh - 440px);
    overflow-y: scroll;
}
/* width */
.dashboard-cards::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .dashboard-cards::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .dashboard-cards::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  .dashboard-cards::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.dashboard-cards .card-header{
    position: sticky;
    top: 0;
}
