@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: 500;
    src: url("./../../../assets/typo_fonts/Shabnam-FD.eot");
    src: url("./../../../assets/typo_fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"),
        url("./../../../assets/typo_fonts/Shabnam-FD.woff2") format("woff2"),
        url("./../../../assets/typo_fonts/Shabnam-FD.woff") format("woff"),
        url("./../../../assets/typo_fonts/Shabnam-FD.ttf") format("truetype");
}

body{
    font-family: 'shabnam';
}
#sidebar .sidebar-nav .sidebar-item{
    text-align: right;
}
.pagination{
    overflow: auto;
}
input[type='checkbox'],input[type='radio']{
    vertical-align: middle;
}

.select2-container{
    max-width: 100%;
}

.alert-outline-coloured .alert-message {
    border-right: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
i{
    vertical-align: middle;
}

select[multiple]{
    max-height: 32px;
}
