@import './dashboard/dashboard.css';
@import './dashboard/custom.css';
@import './components/components.css';
@import './plugins/plugins.css';
@import './receives/receives.css';

.add-new-service__box{
    height: 0;
    overflow: hidden;
    transition: height 500ms;
}

.add-new-service__box.active{
    height: 82px;
}

.pdp-default .day.cell, .pdp-default .dow.cell, .php-default .goToday {
    font-family: 'shabnam';
}
